BareNecessities==0.2.8
blinker==1.4
Click==7.0
decorator==4.4.2
dnspython==1.16.0
Flask==1.1.1
Flask-Mail==0.9.1
itsdangerous==1.1.0
Jinja2==2.11.3
Mail==2.1.0
MarkupSafe==1.1.1
mysql-connector-python==8.0.19
protobuf==3.6.1
PyMySQL==0.9.3
six==1.14.0
urlvalidator==0.1
validators==0.14.2
Werkzeug==1.0.0
