<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>404- Page Not Found</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/font-awesome.min.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}" />


</head>

<body style="background-image:url({{url_for('static', filename='img/nfbg.jpg')}})">

	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! Page Not Found</h2>
			<!-- <form class="notfound-search">
				<input type="text" placeholder="Search...">
				<button type="button">Search</button>
			</form> -->
			<div class="notfound-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div>
			<a href="http://127.0.0.1:5000/">Back To Homepage</a>
		</div>
	</div>

</body>

</html>
